body {
	background-color: transparent;
}

.grocery-app{
	background-color: #fff;
	border: #000 2px solid;
	width: 30em;
	height: 30em;
	margin-left: 25rem;
	margin-top: 1.5rem;
}

.box {
	width: 2.25em;
	height: 1.625em;
	background: blue;
	padding-left: 1em;
	padding-top: .5rem;
	margin: -1.3rem 0 1.5rem 20rem;

}

h2 {
	text-align: center;
	background-color: blue;
	color: #fff;
	margin-left: -2.5rem;
}

li {
	list-style-type: none;
	display: inline;
}

nav {
	float: right;
	margin-right: 5rem;
	padding-left: 1rem;
	color: #000;
	clear: both;
	background-color: #fff;
	width: 15rem;
	text-align: justify;
}

button {
	width: 25rem;
	height: 3rem;
	margin-left: 2.5rem;
	background-color: blue;
	color: #fff;
}